<div>
<h4 style="margin: 50px; text-align: center; color: white; margin-top: 5%; font-size: 30px;">MIS SERVICIOS</h4>
</div>

<div class="table-new" >
    <div class="columns">
        <div class="column">
            <table class = "table table table-striped table-dark">
                <thead>
                    <tr>
                        <th style="text-align: center;">NOMBRE</th>
                        <th style="text-align: center;">DESCRIPCIÓN</th>  
                        <th style="text-align: center;">URL</th>
                        <th style="text-align: center;">REDES</th>
                        <th style="text-align: center;">TIPO</th>        
                        <th style="text-align: center;">Tools</th>                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "
                        let servicio of servicios
                        | paginate: {itemsPerPage: 3, currentPage: page }
                    "
                    >
                    <td style="text-align: center;">{{servicio.nombre}}</td>
                    <td style="text-align: center;">{{servicio.descripcion}}</td>
                    <td style="text-align: center;">{{servicio.urlWeb}}</td>
                    <td style="text-align: center;">{{servicio.redes}}</td>
                    <td style="text-align: center;">{{servicio.tipo.nombre}}</td>
                    <td >
                        <div style="text-align: center;">
                            <button (click)="editarServicio(servicio.id)" class="btn btn-warning" routerLink="/edit-servicio" style="margin-right: 5px;">Editar</button>
                            <button (click)="deleteServicio(servicio.id)" class="btn btn-danger">Eliminar</button>
                        </div> 
                    </td>
                    </tr>
                </tbody>           
            </table>
            
        </div>
        <a class="btn btn-primary "style="margin-left: 45%" routerLink="/new-servicio"role="button"id= "btnAddService">Agregar Servicio</a>
    </div>
</div>

<pagination-controls 
    (pageChange)="page = $event" 
    previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>


