<div class="row justify-content-md-center">
 <form #register="ngForm" ngNativeValidate (ngSubmit)="onSubmit(register)"> 
      <div class="form-group">
        <label for="">Nombre</label>
        <input
          type="text"
          name="nombre"
          ngModel
          required
          placeholder="Ingrese un nombre"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Apellido</label>
        <input
          type="text"
          name="apellido"
          ngModel
          required
          placeholder="Ingrese un apellido"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input
          type="text"
          name="email"
          ngModel
          required
          placeholder="Ingrese un email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Usuario</label>
        <input
          type="text"
          name="username"
          ngModel
          required
          placeholder="Ingrese un usuario"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label for=""> Contraseña</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          placeholder="Ingrese un contraseña"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Tipo de usuario</label>
        <!-- <select name="tipo" class="form-control" ngModel required>
          <option value="Foodtrucker">Foodtrucker</option>
          <option value="Organizador">Organizador</option>
        </select> -->
      </div>
      <button type="submit" class="btn btn-primary">REGISTRARME</button>
  
      <div class="form-group">
        <br />
  
        <a routerLink="/">Ya tenes cuenta? Ingresa clickeando aquí</a>
      </div>
    </form>
  </div>
  