<div class="row justify-content-md-center">
 <form #register="ngForm" ngNativeValidate (ngSubmit)="onSubmit(register)" class="text-center border border-light p-5"> 
  <p class="h4 mb-4">Sign in</p>  
    <div class="form-group">

        <input
          type="text"
          name="nombre"
          ngModel
          required
          placeholder="Ingrese un nombre"
          class="form-control"
        />
      </div>
      <div class="form-group">

        <input
          type="text"
          name="apellido"
          ngModel
          required
          placeholder="Ingrese un apellido"
          class="form-control"
        />
      </div>
      <div class="form-group">

        <input
          type="text"
          name="email"
          ngModel
          required
          placeholder="Ingrese un email"
          class="form-control"
        />
      </div>
      <div class="form-group">

        <input
          type="text"
          name="username"
          ngModel
          required
          placeholder="Ingrese un usuario"
          class="form-control"
        />
      </div>
  
      <div class="form-group">

        <input
          type="password"
          name="password"
          ngModel
          required
          placeholder="Ingrese un contraseña"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary">REGISTRARME</button>
  
      <div class="form-group">
        <br />
  
        <a routerLink="/">Ya tenes cuenta? Ingresa clickeando aquí</a>
      </div>
    </form>
  </div>
  <div *ngIf="error" class="row justify-content-md-center" style="text-align: center;">
    <div class="alert alert-danger col-md-3" role="alert">
      ¡Ya hay un usuario con ese email registrado!
    </div>  
  </div>
  
