<div
  style="justify-content: center; display: flex; background-color: #ffffff77"
>
</div>
<div>
  <div>
    <h1 class="display-4">
    </h1>
    <hr class="my-4" />
    <p class="lead">
      <a
        class="btn btn-primary btn-lg"
        style="margin-right: 15px"
        routerLink="new-servicio"
        role="button"
        >Agregar Servicio</a
      >
      <a
        routerLink="/edit-user"
        class="btn btn-primary btn-lg"
        style="margin-right: 15px"
        href="#"
        role="button"
        >Modificar Perfil</a
      >
      <br />
      <br />
      <app-list-servicios></app-list-servicios>
    </p>
  </div>
 </div>
