<div class="table-new" >
    <div class="columns">
        <div class="column">
            <table class = "table table-striped table-dark">
                <thead>
                    <tr>
                        <th style="text-align: center;">NOMBRE</th>
                        <th style="text-align: center;">DESCRIPCIÓN</th>
                        <th style="text-align: center;">URL</th>
                        <th style="text-align: center;">REDES</th>
                        <th style="text-align: center;">TIPO</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "
                        let servicio of listaServicios
                        | paginate: {itemsPerPage: 5, currentPage: page }
                    ">
                    <td style="text-align: center;">{{servicio.nombre}}</td>
                    <td style="text-align: center;">{{servicio.descripcion}}</td>
                    <td style="text-align: center;">{{servicio.urlWeb}}</td>
                    <td style="text-align: center;">{{servicio.redes}}</td>
                    <td style="text-align: center;">{{servicio.tipo.nombre}}</td>                
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="clearfix">
    <pagination-controls 
     (pageChange)="page = $event" 
     previousLabel="Anterior" 
     nextLabel="Siguiente">
    </pagination-controls>
</div>