<div class="table-new" >
    <div class="columns">
        <div class="column">
            <table class = "table">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nombre servicio</th>
                        <th style="text-align: center;">Descripcion</th>
                        <th style="text-align: center;">Url</th>
                        <th style="text-align: center;">Redes</th>                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let servicio of listaServicios">
                    <td style="text-align: center;">{{servicio.nombre}}</td>
                    <td style="text-align: center;">{{servicio.descripcion}}</td>
                    <td style="text-align: center;">{{servicio.urlWeb}}</td>
                    <td style="text-align: center;">{{servicio.redes}}</td>                
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
