<div class="row justify-content-md-center">
    <form #newService="ngForm" ngNativeValidate (ngSubmit)="onSubmit(newService)" class="text-center border border-light p-5"> 
     <p class="h4 mb-4">ALTA DE SERVICIO</p>  
     <div class="form-group">
        <label for=""><b>Tipo</b></label>
        <input
          type="text"
          name="tipo"
          ngModel
          required
          placeholder="Ingrese el tipo del servicio"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for=""><b>Nombre</b></label>
        <input type="text" name="nombre" placeholder="Ingrese el nombre del servicio" ngModel required class="form-control" />
      </div>

      <div class="form-group">
        <label for=""><b>Descripcion</b></label>
        <input
          type="text"
          name="descripcion"
          placeholder="Ingrese la descripcion del servicio"
          ngModel
          required
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for=""><b>UrlWeb</b></label>
        <input type="text" name="urlWeb" placeholder="Ingrese la URL del servicio" ngModel required class="form-control" />
      </div>

      <div class="form-group">
        <label for=""><b>Redes</b></label>
        <input
          type="text"
          name="redes"
          ngModel
          placeholder="Ingrese las redes del servicio"
          required
          class="form-control"
        />
      </div>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">ENVIAR</button>
      </div>
       </form>
     </div>
