<div class="row justify-content-md-center">
    <form #newService="ngForm" ngNativeValidate (ngSubmit)="onSubmit(newService)" class="text-center p-5"> 
     <p class="h4 mb-4 " style="color: rgb(255, 255, 255); font-size: 35px; margin-top: 8%;">ALTA DE SERVICIO</p>  
      <div class="form-group">
        <label for=""><b>Nombre</b></label>
        <input type="text" name="nombre" placeholder="Ingrese el nombre del servicio" ngModel required class="form-control" />
      </div>

      <div class="form-group">
        <label for=""><b>Descripcion</b></label>
        <input
          type="text"
          name="descripcion"
          placeholder="Ingrese la descripcion del servicio"
          ngModel
          required
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for=""><b>Url Web</b></label>
        <input type="text" name="urlWeb" placeholder="Ingrese la URL del servicio" ngModel required class="form-control" />
      </div>

      <div class="form-group">
        <label for=""><b>Redes</b></label>
        <input
          type="text"
          name="redes"
          ngModel
          placeholder="Ingrese las redes del servicio"
          required
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for=""><b>Tipo de Servicio</b></label>
        <select class="form-select" name="tipo_servicio" ngModel required>
          <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
        </select>
      </div>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">ENVIAR</button>
      </div>
       </form>
     </div>
