.text{
    text-align: right;
    font-family: 'Franklin Gothic Medium';
    font-size: 20;
    opacity: 1.0;
}

footer{
    background-color: var(--background)!important;
    height: 30px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
}


body{
  background-size: cover;
}

.navbar{
  background-color:beige;
  /* opacity: 0.8; */
  height: 80px;
  width: 100%;
}

.nav-ul{
  width: 100%;
  margin-top: 5px;
}

.nav-ul-responsive{
  display:none;
}

.nav-link{
  display:inline-block;
  padding: 12px;
  color: black;
  font-size: 20px;
}

.nav-link:hover > a {
  color: white;
}
.nav-link:hover {
  color: white;
}

.nav-link a{
  color: black;
  text-decoration: none;
}

.nav-link i {
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}


.dropdown {
  float: right;
  font-size: 20px;
  margin-top: 14px;
  margin-right: 60px;
  color: black;
}

footer{
  background-color: beige;
  height: 30px; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  text-align: center;
}

.nav-link-dropdown-toggle{
    color: black;
    text-decoration: none;
}

.dropdown:hover > a {
  color: white;
}
.dropdown:hover {
  color: white;
}

.dropdown i {
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}

li{
    text-decoration: none;
}
