

<nav class="navbar" >
    <ul class="nav-ul">
    <!--       <div class="dropdown">
              <i class="fas fa-user"></i><a class="nav-link-dropdown-toggle" role="button" data-bs-toggle="dropdown">Cuenta</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/edit-user">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
              </ul>
          </div> -->
          
          <li class="nav-link"><i class="fas fa-home"></i><a  routerLink="/home"> HOME  </a></li>
          <li class="nav-link"><i class="fas fa-home"></i><a  routerLink="/edit-user"> CUENTA  </a></li>
      </ul>
    
</nav>

<router-outlet></router-outlet>
