
<div class="row justify-content-md-center">
  <form #login="ngForm" ngNativeValidate (ngSubmit)="onSubmit(login)" class="text-center border border-light p-5"> 
   <p class="h4 mb-4">SISTEMA DE RESERVAS DE SERVICIOS</p>  
     <div class="form-group">
         <input
           type="text"
           name="email"
           ngModel
           required
           placeholder="Ingrese un email"
           class="form-control"
         />
       </div>
       <div class="form-group">
 
         <input
           type="password"
           name="password"
           ngModel
           required
           placeholder="Ingrese un contraseña"
           class="form-control"
         />
       </div>
       <button type="submit" class="btn btn-primary">Iniciar sesion</button>
   
       <div class="form-group">
         <br />
   
         <a routerLink="/register">¿No tenes cuenta? Registrate ingresando aquí</a>
       </div>
     </form>
   </div>
   
 
   <style>
     input{
       text-align: center;
     }
     .form-group{
       padding: 10px;
       text-align: center;
     }
     form{
       width: 500px;
     }
   </style>