<div style="width: max; height: 100%">
  <div style="text-align: center">
    <div style="display: inline-block">
       <!-- <div>
        <img src="../assets/images/logo_app.png" />
      </div>  -->
      <div>
        <p
          style="
            position: absolute;
            width: 270px;
            height: 92px;
            left: 662px;
            top: 142px;

            font-family: Red Hat Text;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 46px;

            color: #cfcfcf;
          "
        >
        SISTEMA DE RESERVAS DE SERVICIOS
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div>
    <!-- <div *ngIf="error" class="row justify-content-md-center" style="text-align: center;">
      <div class="alert alert-danger col-md-3" role="alert">
        El username o contraseña no son correctos!
      </div>  
    </div> -->

    <div class="row justify-content-md-center">
      <form>
      <!-- <form #login="ngForm" ngNativeValidate (ngSubmit)="onSubmit(login)">  -->
        <div class="form-group">
          <label for=""><b style="color: rgb(0, 0, 0);">Usuario</b></label>
          <input
            type="text"
            name="username"
            ngModel
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for=""><b style="color: rgb(0, 0, 0);">Contraseña</b></label>
          <input
            type="password"
            name="password"
            ngModel
            required
            class="form-control"
          />
        </div>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-primary">INICIAR SESION</button>
        </div>

        <div class="form-group">
          <br />
          <a routerLink="/register"
            >¿No tenes cuenta? Registrate ingresando aquí</a
          >
        </div>
      </form>
    </div>
  </div>
</div>