<div style=" margin-top: 105px;">   
    <div *ngIf="enviado" class="row justify-content-md-center" style="text-align: center;">
      <div class="alert alert-success col-md-3" role="alert">
        ¡Servicio editado con exito!
      </div>  
    </div>
    <div style="justify-content: center; display: flex;">
      <div class="row justify-content-md-center">
        <form #edit="ngForm" (ngSubmit)="onSubmit(edit)" class="text-center p-5">
          <p style="color: rgb(255, 255, 255); font-size: 30px; margin-top: -18%;">EDITAR SERVICIO</p>
          <div class="form-group">
            <label for=""><b>Nombre</b></label>
            <input type="text" name="nombre" value="{{nombre}}" ngModel required class="form-control" />
          </div>
  
          <div class="form-group">
            <label for=""><b>Descripcion</b></label>
            <input
              type="text"
              name="descripcion"
              value="{{descripcion}}"
              ngModel
              required
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for=""><b>UrlWeb</b></label>
            <input type="text" name="urlWeb" value="{{urlWeb}}" ngModel required class="form-control" />
          </div>
  
          <div class="form-group">
            <label for=""><b>Redes</b></label>
            <input
              type="text"
              name="redes"
              ngModel
              value="{{redes}}"
              required
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for=""><b>Tipo de Servicio</b></label>
            <select class="form-select" name="tipo" ngModel required>
              <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
            </select>
          </div>
  
          <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">ENVIAR</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
